
.#{$prefix} {
  &-mute-control {
    & > .#{$prefix}-icon-placeholder {
      color: $mute-control-color;
      font-size: $mute-control-font-size;
    }
  }
  
  &-volume-panel {
    display: flex;
    align-items: center;

    &:hover,
    &:active,
    &:focus {
      border-radius: math.div($control-width, 2);

      .#{$prefix}-volume-control {
        visibility: visible;
        opacity: 1;

        &.#{$prefix}-volume-horizontal {
          width: 60px;
          transition: width 0.1s;
        }
      }
    }
  }

  &-volume-control {
    visibility: hidden;
    opacity: 0;
    width: 0;

    &.#{$prefix}-volume-horizontal {
      transition: visibility 1s, opacity 1s, width 1s;
      padding: 0 math.div($slider-thumb-size, 2);
    }
  }

  &-volume-bar {
    display: block;
    height: $progress-bar-height * 3;
    margin: 0;
    padding: 0;
    width: 100%;
    // transition: all .2s;
    position: relative;
    cursor: pointer;

    &:before {
      width: 100%;
      content: '';
      background-color: $progress-bar-bg-color;
    }

    .#{$prefix}-mouse-display .#{$prefix}-volume-tooltip {
      color: $volume-tooltip-color;
      background-color: $volume-tooltip-bg-color;
    }

    &:hover {
      // transform: scale(1, 1.2);

      .#{$prefix}-mouse-display,
      .#{$prefix}-volume-tooltip {
        display: block;
        visibility: visible;
      }

      // .#{$prefix}-volume-level, .#{$prefix}-volume-slider:before {
      //   box-shadow: 0 0 4px $play-progress-bg-color;
      // }

      // .#{$prefix}-volume-slider:before {
      //   transform: scale(1.2, 1);
      // }
    }

    &:before, & .#{$prefix}-volume-level {
      display: block;
      height: $progress-bar-height;
      margin: 0;
      padding: 0;
      position: absolute;
      top: $progress-bar-height;
      left: 0;
      border-radius: math.div($progress-bar-height, 2);
    }
  }

  &-volume-level {
    width: 0;
    background-color: $play-progress-bg-color;
    transition: all 0.2s;

    &-thumb {
      margin-top: math.div($progress-bar-height, 2);
      z-index: 2;
      @include slider-thumb($slider-thumb-size, $play-progress-bg-color);
    }
  }

  &-volume-tooltip {
    border-radius: 0.3em;
    background-color: rgba(#fff, 0.8);
    color: #000;
    padding: 6px 8px;
    pointer-events: none;
    position: absolute;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    top: -3em;
    visibility: hidden;
    z-index: 1;
  }
}

&.#{$prefix}-user-inactive {
  .#{$prefix}-volume-bar {
    .#{$prefix}-mouse-display {
      visibility: hidden;
      opacity: 0;
      transition: visibility 1.0s, opacity 1.0s;
    }
  }
}

&.#{$prefix}-scrubbing {
  .#{$prefix}-volume-panel {
    .#{$prefix}-volume-control {
      display: none;
    }
  }
}